.container-bought-together {
  width: 100%;
  max-width: 1500px;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  border-bottom: rgba(51, 51, 51, 0.177) solid 1px;
  font-size: 1.4rem;
  color: #0f1111;
}
.items-and-sum {
  margin-top: 4rem;
  color: #565959;
  height: 11.7rem;
  width: 100%;
  display: flex;
}

.item1 {
  background: url("/assets/images/buy_it_with1.jpg") no-repeat center
    center/cover;
  height: 11.6rem;
  width: 11.6rem;
}

.add-sign-container {
  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.item2 {
  background: url("/assets/images/buy_it_with2.jpg") no-repeat center
    center/cover;
  height: 11.6rem;
  width: 11.6rem;
  cursor: pointer;
}

.price-and-buy {
  padding-left: 3rem;
}
.total-price-amount {
  color: #b12704;
}

.add-all-to-cart:hover {
  background-color: #ffc814;
}
.add-all-to-cart {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd814;
  color: #0f1111;
  font-size: 1.2rem;
  border-radius: 1.6rem;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  cursor: pointer;
  transition: all 0.1s linear;
  letter-spacing: -0.4px;
  padding: 3.5px 0;
  width: 10rem;
}
.sellers-notice {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 85%;
}

.sellers-notice i {
  color: #1196ab;
  font-size: 1.8rem;
}

.buy-checkboxs {
    padding: 10px 3px;
    color: #cdd9d9;
}
.buy-checkboxs  .total-price-amount , .checkbox-buy2 >.link-main {
    color: #cdd9d9;
}

.buy-check1, .buy-check2{
    opacity: 0.3;
}

.buy-checkboxs .link-main {
font-weight: 400;
filter: contrast(0.9);
}

.checkbox-buy2{
    padding-top: .7rem;
}

.checkbox-buy1 input:checked + .buy-bold-text {
    color: #0f1111;
    font-weight: 500;
}
.checkbox-buy1 input:checked ~ .buy-text {
    color: #0f1111;
    font-weight: 400;
}

.checkbox-buy1 input:checked ~ .total-price-amount , .checkbox-buy2 input:checked ~ .total-price-amount {
    color: #b12704;
    font-weight: 400;
}

.checkbox-buy2 >.link-main:hover{
    opacity: 0.3;
}
.checkbox-buy2 input:checked ~  .link-main{
color: var(--text-color-main-links);
line-height: 2rem;
cursor: pointer;
font-weight: 400;
filter: contrast(1.25);
}
.checkbox-buy2 input:checked ~ .link-main:hover{
    opacity: 1;
    color: var(--link-hover);
    filter: contrast(1);
}

#buy-item1:checked, #buy-item2:checked{
    opacity: 1;
}

.container-explore{
    width: 100%;
    padding: 0 1.6rem;
    padding-top: 1.2rem;
    display: flex;
    flex-direction: column;
}

.container-explore h2 {
    color: #333;
    font-weight: 700;
    font-family: Arial,sans-serif;
}

.sponsored{
    display: flex;
    justify-content: space-between;
}

.sponsored .spons {
    padding-top: 1rem;
    color: #555555;
    font-size: 1.2rem;
    opacity: .9;
    cursor: pointer;
    display: flex;
    gap:3px;
    align-items: center;
    width: 7px;
}

.sponsored .spons:hover  {
    opacity: 1;
    color: #4e4d4d;
}

.page-browse {
    color: #0F1111;
    font-size: 1.4rem;
    font-weight: 500;
    line-height: 20px;
    opacity: .9;
}


.generic-card {
    width: 16rem;
    height: 34.4rem;
    position: relative;
    
}
.generic-card::after {
    content: "generic item description";
    display: flex;
    position: absolute;
    top: 10.3rem;
    right: 0rem;
    width: 14rem;
    height: 2.3rem;
    background-color: #fdfdfd;
    border: #565959 solid 1px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.1rem;
    align-items: center;
    justify-content: center;
    font-weight: 400;
    color: #2b2b2b;
    opacity: 0;
    transition: all 0.5s ease;
}

.generic-card:hover::after{
    opacity: 1;
}

.carousel-container {
    display: flex;
    width: 100%;
    gap: 1rem;
    
}

.carousel-items{
    width: calc(100% - 8rem);
    overflow: hidden;
    display: flex;
    justify-content: space-between;
}

.carousel-button{
    display: flex;
    align-items: center;
    
}

.side-btn-box:hover {
    background-color: #f7fafa;
}
.side-btn-box {
    font-size: 1.6rem;
    cursor: pointer;
    height: 3.7rem;
    width: 3.4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    color:#575757 ;
    border-radius: 7px;
    border: #5555557b 1px solid;
    box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
    
}

.card-item1 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela1.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item2 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela2.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item3 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela3.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item4 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela4.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item5 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela5.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item6 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela6.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item7 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela7.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}
.card-item8 .card-image {
    width: 16rem;
    height: 20rem;
    background: url("/assets/images/karusela8.jpg") no-repeat center
    center/cover;
    cursor: pointer;
}

.amount-of-voters.link-main{
    text-decoration: none;
    color: var(--text-color-main-links);

}
.card-raiting, .pricing{
    display: flex;
    gap:6px;
    cursor: pointer;
}

.pricing > span {
    color: #B12704;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
    
}

.prime-image {
    background: url('/assets/images/prime-sprite.png') no-repeat -400px -222px;
	width: 49px;
	height: 14px;
}

.card-part5 {
    color: #555555;
    font-size: 1.2rem;
    cursor: pointer;
}
.card-part5 .crossed-price {
    text-decoration: line-through;
}


