.container-bought-together {
  width: 100%;
  display: flex;
  flex-direction: column;
  padding: 0 12px;
  border-bottom: rgba(51, 51, 51, 0.177) solid 1px;
  font-size: 1.4rem;
  color: #0f1111;
}
.items-and-sum {
  margin-top: 4rem;
  color: #565959;
  height: 11.7rem;
  width: 100%;
  display: flex;
}

.item1 {
  background: url("/assets/images/buy_it_with1.jpg") no-repeat center
    center/cover;
  height: 11.6rem;
  width: 11.6rem;
}

.add-sign-container {
  width: 3rem;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 2.4rem;
}

.item2 {
  background: url("/assets/images/buy_it_with2.jpg") no-repeat center
    center/cover;
  height: 11.6rem;
  width: 11.6rem;
  cursor: pointer;
}

.price-and-buy {
  padding-left: 3rem;
}
.total-price-amount {
  color: #b12704;
}

.add-all-to-cart:hover {
  background-color: #ffc814;
}
.add-all-to-cart {
  margin-top: 2px;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #ffd814;
  color: #0f1111;
  font-size: 1.2rem;
  border-radius: 1.6rem;
  box-shadow: 0 2px 5px 0 rgb(213 217 217 / 50%);
  cursor: pointer;
  transition: all 0.1s linear;
  letter-spacing: -0.4px;
  padding: 3.5px 0;
  width: 10rem;
}
.sellers-notice {
  display: flex;
  align-items: center;
  gap: 4px;
  font-size: 85%;
}

.sellers-notice i {
  color: #1196ab;
  font-size: 1.8rem;
}

.buy-checkboxs {
    padding: 10px 3px;
    color: #cdd9d9;
}
.buy-checkboxs  .total-price-amount ,.link-main {
    color: #cdd9d9;
}

.buy-check1, .buy-check2{
    opacity: 0.3;
}

.buy-checkboxs .link-main {
font-weight: 400;
filter: contrast(0.9);
}

.checkbox-buy2{
    padding-top: .7rem;
}

.checkbox-buy1 input:checked + .buy-bold-text {
    color: #0f1111;
    font-weight: 500;
}
.checkbox-buy1 input:checked ~ .buy-text {
    color: #0f1111;
    font-weight: 400;
}

.checkbox-buy1 input:checked ~ .total-price-amount , .checkbox-buy2 input:checked ~ .total-price-amount {
    color: #b12704;
    font-weight: 400;
}

.checkbox-buy2 .link-main:hover{
    opacity: 0.3;
}
.checkbox-buy2 input:checked ~ .link-main{
color: var(--text-color-main-links);
line-height: 2rem;
cursor: pointer;
font-weight: 400;
filter: contrast(1.25);
}
.checkbox-buy2 input:checked ~ .link-main:hover{
    opacity: 1;
    color: var(--link-hover);
    filter: contrast(1);
}

#buy-item1:checked, #buy-item2:checked{
    opacity: 1;
}

