@font-face {
    font-family: "Amazon Ember";
    font-weight: 200;
    src: url(https://m.media-amazon.com/images/S/sash/Dv1WQ5DdeMS5qP7.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/e0LnMbFWJC-TMQz.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 200;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/ozb5-CLHQWI6Soc.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/twzZHebXjCHBb6v.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    src: url(https://m.media-amazon.com/images/S/sash/pDxWAF1pBB0dzGB.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/kfKKBuoqcD$AUKL.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/WOnTLzkiaEccV7F.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/JJsp0ZvgpfwzJM6.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 500;
    src: url(https://m.media-amazon.com/images/S/sash/VjTR4RqBzY0mUYx.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/XIvhNCZAsrT80Wz.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 500;
    font-style: italic;
    src: url(https://m.media-amazon.com/images/S/sash/KwhNPG8Jz-Vz2X7.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/YAEPfuhs1l-argd.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/KFPk-9IF4FqAqY-.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/mzVbGSgvdBfRLX9.woff)
        format("woff");
  }
  @font-face {
    font-family: "Amazon Ember";
    font-style: italic;
    font-weight: 700;
    src: url(https://m.media-amazon.com/images/S/sash/2SazJx$EeTHfhMN.woff2)
        format("woff2"),
      url(https://m.media-amazon.com/images/S/sash/CjbL$jCCegyfqZ7.woff)
        format("woff");
  }

  * {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  body,html {
    font-family: "Amazon Ember", Arial, sans-serif;
    font-size: 62.5%;
  }
  ul{
    list-style: none;
  }

  .links{
    cursor: pointer;
  }